@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

*, *::before, *::after {
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#index-body {
    background-color: rgba(112, 92, 255, 1);
}

#game-body {
    background-color: rgba(112, 92, 255, 1);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-container {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1 {
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

#h2-home {
    color: white;
}

h2 {
    color: rgb(205, 36, 211);
    font-size: 40px;
}

#play-btn {
    border: 1px, solid, white;
    display: inline-block;
    color: rgba(112, 92, 255, 1);
    background-color: white;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 40px;
    position: relative;
    cursor: pointer;
    border-radius: 5%;
    box-shadow: 0 0 10px 2px;
}

#play-btn:hover {
    background: rgb(205, 36, 211);
    color: white;
}

#game-body.correct {
    background-color: rgba(36, 218, 39, 1);
}

#game-body.wrong {
    background-color: rgba(126, 17, 39, 1);
}

.main-box {
    background-color: white;
    width: 800px;
    max-width: 80%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}
#question {
    font-size: 20px;
}

.btn-section {
    margin: 20px 0;
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.btn {
    background-color: rgba(112, 53, 255, 1);
    color: white;
    padding: 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
}

.btn:hover {
    background: rgb(205, 36, 211);
}

.btn.correct {
    background-color: rgba(36, 218, 39, 1);
    color: black;
}

.btn.wrong {
    background-color: rgba(255, 17, 39, 1);
}

.start-btn, .next-btn {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
}

.start-btn:hover, .next-btn:hover {
    background-color: rgb(205, 36, 211);
}

#restart-btn {
    background-color: rgb(205, 36, 211);
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

#restart-btn:hover{
    background-color: rgba(112, 53, 255, 1);
    color: black;
}

a {
    background-color: rgb(205, 36, 211);
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: rgba(112, 53, 255, 1);
    color: black;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.vanish {
    display: none;
}